.App {
  text-align: center;
}
.header{
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  border-bottom: 0.5rem solid black;
}
.header a{
  background-color: black;
  color: white;
  padding: 0.8rem;
  text-decoration: none;
}

.loginDiv{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 25%;
  margin: 0 auto;
}
.loginForm{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.loginForm label{
  font-size: 1.5rem;
}
.inputSubmit{
  padding: 0.5rem 2rem;
  color: white;
  background-color: black;
}
.loginForm button{
  margin-top: 1rem;
}